<div
  class="star-rating-container star-rating-animation box-shadow-secondary"
  (mouseleave)="closeStarRating()"
>
  <button
    [disabled]="selectedRating"
    class="d-inline-block border-0 p-0 bg-transparent"
    *ngFor="let star of stars"
    [ngClass]="[star.class]"
    (click)="selectStar(star.id)"
  >
    <span class="{{ star.icon }}"></span>
  </button>
  <div *ngIf="selectedRating" class="d-inline-block px-2">
    <strong>{{ selectedRating }}</strong>
    <span class="text-muted">/10</span>
  </div>
</div>
