<div [formGroup]="group">
  <label class="text-light form-label">{{ config.label }}</label>
  <input
      class="form-control"
      type="text"
      [attr.placeholder]="config.placeholder"
      [formControlName]="config.name"
      (keyup)="isAutocompleteOpen = true">
</div>
<ng-container *ngIf="isAutocompleteOpen && options$ | async as options">
  <ul class="list-group position-absolute w-75 border-bottom">
    <li
      class="list-group-item bg-light text-dark pointer"
      *ngFor="let option of options"
      (click)="selectOption(option)">
      {{ option }}
    </li>
  </ul>
</ng-container>
