.messages {
  top: 55px;
  font-family: Roboto;
  z-index: 10000;

  &-danger {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
  }

  &-success {
    color: var(--bs-info-text-emphasis);
    background-color: var(--bs-info-bg-subtle);
    border: 1px solid var(--bs-info-border-subtle);
  }
}

.close {
  right: 10px;
  top: 10px;
}
