@import "./variables";

@mixin box-shadow($x, $y, $a, $b, $color, $opacity) {
  box-shadow: $x $y $a $b rgba($color, $opacity);
  -moz-box-shadow: $x $y $a $b rgba($color, $opacity);
  -webkit-box-shadow: $x $y $a $b rgba($color, $opacity);
}
