@import "../../../node_modules/bootstrap/scss/_functions";
@import "../../../node_modules/bootstrap/scss/_variables";

// General
$error-message: #d8000c;
$basic-color: #ffffff;
$color-primary: rgba(223, 70, 40, 0.9);
$color-third: rgb(13, 202, 240);
$text-muted: rgba(0, 0, 0, 0.6);
