@import "../../../node_modules/bootstrap/scss/_functions";
@import "../../../node_modules/bootstrap/scss/_variables";

// General
$color-dark-grey: #666666;
$error-message: #d8000c;
$basic-color: #ffffff;
