<app-card [title]="'Your Favourite Movie'" [icon]="'fas fa-film'">
  <form card-body [formGroup]="movieForm" class="p-3">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <app-input
        [control]="$any(movieForm.get('name'))"
        [controlName]="'name'"
      ></app-input>
      <span
        class="error-message"
        *ngIf="
          movieForm.get('name').hasError('requiredError') ||
          movieForm.get('name').hasError('patternError')
        "
      >
        {{ "Required field, numbers not allowed" }}
      </span>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <app-input
        [control]="$any(movieForm.get('username'))"
        [controlName]="'username'"
      ></app-input>
      <span
        *ngIf="movieForm.get('username').hasError('emailError')"
        class="error-message"
      >
        {{ "Email required" }}
      </span>
    </div>
    <div class="my-3">
      <label for="country-select" class="form-label">{{
        "Choose a country:"
      }}</label>
      <app-select
        [options]="countryDropdown"
        [control]="$any(movieForm.get('country'))"
        [controlName]="'country'"
        (change)="selectCountry()"
      ></app-select>
      <span
        *ngIf="movieForm.get('country').hasError('requiredError')"
        class="error-message"
      >
        {{ "Required field" }}
      </span>
    </div>
    <div class="mb-3">
      <label for="postCode" class="form-label">Post Code</label>
      <app-input
        [control]="$any(movieForm.get('postCode'))"
        [controlName]="'postCode'"
      ></app-input>
      <span
        *ngIf="
          movieForm.get('postCode').hasError('minLengthError') ||
          movieForm.get('postCode').hasError('maxLengthError')
        "
        class="error-message"
      >
        {{ "Required 6-10 characters" }}
      </span>
      <span
        *ngIf="movieForm.get('postCode').hasError('patternError')"
        class="error-message"
      >
        {{ "Wrong post code format" }}
      </span>
      <span
        *ngIf="movieForm.get('postCode').hasError('requiredError')"
        class="error-message"
      >
        {{ "Required field" }}
      </span>
    </div>
    <div class="mb-3">
      <label for="favouriteMovie" class="form-label">Favourite Movie</label>
      <app-input
        (keyup)="isAutocompleteOpen = false"
        [control]="$any(movieForm.get('favouriteMovie'))"
        [controlName]="'favourite movie'"
      ></app-input>
      <ng-container *ngIf="!isAutocompleteOpen && movies$ | async as movies">
        <ul class="list-group position-absolute w-75 border-bottom">
          <li
            class="list-group-item bg-light text-dark pointer"
            *ngFor="let movie of movies"
            (click)="selectMovie(movie.Title)"
          >
            {{ movie.Title }}
          </li>
        </ul>
      </ng-container>
    </div>
    <div class="d-flex justify-content-end">
      <app-button [label]="'Submit'" (click)="submitForm()"></app-button>
    </div>
  </form>
</app-card>
