<div class="row justify-content-center">
  <div class="col-6">
    <div class="card box-shadow mt-5">
      <div class="card-body">
        <h3 class="text-center my-2 fst-italic">Your Favourite Movie</h3>
        <hr />
        <form [formGroup]="movieForm" class="p-3">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              formControlName="name"
              type="text"
              class="form-control"
              id="name"
              placeholder="Enter your name..."
            />
            <span
              class="error-message"
              *ngIf="
                movieForm.get('name').hasError('requiredError') ||
                movieForm.get('name').hasError('patternError')
              "
            >
              {{ "Required field, numbers not allowed" }}
            </span>
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              formControlName="username"
              type="email"
              class="form-control"
              id="username"
              placeholder="Enter your username..."
            />
            <span
              *ngIf="movieForm.get('username').hasError('emailError')"
              class="error-message"
            >
              {{ "Email required" }}
            </span>
          </div>
          <div class="my-3">
            <label for="country-select" class="form-label">{{
              "Choose a country:"
            }}</label>
            <select
              formControlName="country"
              class="form-select"
              name="countries"
              id="country-select"
              aria-label="Select country from menu"
              (change)="selectCountry()"
            >
              <option disabled value="">Please select</option>
              <option
                *ngFor="let option of countryDropdown"
                [value]="option.value"
              >
                {{ option.value }}
              </option>
            </select>
            <span
              *ngIf="movieForm.get('country').hasError('requiredError')"
              class="error-message"
            >
              {{ "Required field" }}
            </span>
          </div>
          <div class="mb-3">
            <label for="postCode" class="form-label">Post Code</label>
            <input
              formControlName="postCode"
              type="text"
              class="form-control"
              id="postCode"
              placeholder="Enter your postCode..."
            />
            <span
              *ngIf="
                movieForm.get('postCode').hasError('minLengthError') ||
                movieForm.get('postCode').hasError('maxLengthError')
              "
              class="error-message"
            >
              {{ "Required 6-10 characters" }}
            </span>
            <span
              *ngIf="movieForm.get('postCode').hasError('patternError')"
              class="error-message"
            >
              {{ "Wrong post code format" }}
            </span>
            <span
              *ngIf="movieForm.get('postCode').hasError('requiredError')"
              class="error-message"
            >
              {{ "Required field" }}
            </span>
          </div>
          <div class="mb-3">
            <label for="favouriteMovie" class="form-label"
              >Favourite Movie</label
            >
            <input
              (keyup)="isAutocompleteOpen = false"
              formControlName="favouriteMovie"
              type="text"
              class="form-control"
              id="favouriteMovie"
              placeholder="Enter your favourite movie..."
            />
            <ng-container
              *ngIf="!isAutocompleteOpen && movies$ | async as movies"
            >
              <ul class="list-group position-absolute w-75 border-bottom">
                <li
                  class="list-group-item bg-light text-dark pointer"
                  *ngFor="let movie of movies"
                  (click)="selectMovie(movie.Title)"
                >
                  {{ movie.Title }}
                </li>
              </ul>
            </ng-container>
          </div>
          <div class="d-flex justify-content-end">
            <button
              class="btn btn-primary px-5"
              type="button"
              (click)="submitForm()"
            >
              {{ "Submit" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
